header{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    position: relative;
}
  
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    font-weight: 700;
}
  
.logo__text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    letter-spacing: .1em;
    color: white;
}
  
.logo__text-big{
    font-size: 28px;
}
  
.logo__text-small{
    margin-top: 15px;
    font-size: 20px;
}
  
.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.phone__text{
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: .1em;
    margin-top: 15px;
    color: white;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo img {
        display: none;
    }

    header{
        width: 100%;
    }
}