.logo__text{
    color: black;
}

.phone__text{
    color: black;
}

header{
    width: 98%;
}

footer{
    width: 80%;
    margin: auto;
    margin-top: 120px;
}

.reg_content{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__field{
    display: flex;
    flex-direction: column;
    width: 530px;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 14px #00000047;
    box-shadow: 0 4px 14px #00000047;
    padding: 30px 40px;
    height: 350px;
    justify-content: space-between;
}

.form__field.form_2{
    height: 400px;
}

.form__step{
    font-family: Montserrat;
    font-weight: 200;
    font-size: 18px;
}

.form__title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
}

.form{
    display: flex;
    flex-direction: row;
}

.form.form_2{
    flex-direction: column;
}

.form.form_3{
    flex-direction: row;
}

.form_2 > .block_input > .input{
    margin-top: 20px;
}

.eula{
    font-family: Montserrat;
    vertical-align: middle;
    padding: 2px;
    margin-right: 5px;
    color: #8b8b8b;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    font-weight: normal;
    color: #292929;
    padding-left: 3px;
    margin-top: 0px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-custom {
    border-radius: 8px;
    width: 27px;
    height: 27px;
    border: 1px solid #EBEBEB;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    margin-right: 5px;
    color: #8b8b8b;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    background: #fff;
    cursor: default;
    position: relative;
    cursor: pointer;
}

.checkbox-custom {
    border-radius: 8px;
    width: 27px;
    height: 27px;
    border: 1px solid #EBEBEB;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    margin-right: 5px;
    color: #8b8b8b;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    background: #fff;
    cursor: default;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked+.checkbox-custom::before {
    content: '';
    font-family: FontAwesome;
    display: block;
    position: absolute;
    left: 18%;
    top: 15%;
    width: 20px;
    height: 20px;
    background: #ccdb2a;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.button.form{
    margin-left: 0;
}

.input{
    height: 24px;
    width: 100%;
    font-size: 12px;
    color: #373737;
    -webkit-text-fill-color: #373737;
    font-family: Montserrat;
    border: 1px solid #e7e7e7;
    background-color: #f4f4f4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px;
    outline: 0;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    margin-right: 20px;
}

.form_4 .form{
    flex-direction: row;
    width: 735px;
}

.form__field.form_4 {
    width: 630px;
}

.form_3 .input {
    width: 76.9%;
    margin-right: 20px;
}

.form_4 .input {
    width: 85%;
    margin-bottom: 20px;
}

.block_input{
    display: flex;
    flex-direction: row;
}

.form_3 > .block_input {
    flex-direction: column;
}

.form_4 .block_input {
    flex-direction: column;
}

.inner_block_input{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.sex{
    width: max-content;
    padding: 12px;
    background-color: #f4f4f4;
    margin-right: 15px;
    margin-top: 21px;
}

.sex.active{
    background-color: #ccdb2a;
}

.sex:hover{
    cursor: pointer;
}

.timer{
    font-size: 100px;
    font-weight: 600;
    width: 340px;
}

@media only screen and (min-width : 320px) and (max-width : 720px) {
    .form{
        flex-direction: column;
    }

    .reg_content{
        width: 100%;
    }

    .form__field{
        width: 75%;
    }

    .input{
        width: 80%;
    }

    .block_input{
        flex-direction: column;
    }

    .form__field.form_2{
        height: 590px;
    }

    .inner_block_input {
        flex-direction: column;
    }

    .form.form_3{
        flex-direction: column;
    }

    .form__field{
        height: 590px;
    }

    .form_4 .form{
        width: 40%;
        flex-direction: column;
    }

    .form__field.form_4{
        width: 75%;
    }

    .form_4 .input{
        width: 218%;
    }
}