html, body{
  padding: 0; margin: 0;
}

.wrapper{
  margin: 0; padding: 0;
  width: 100%;
  margin: auto;
}

.background{
  padding: 155px 0 100px;
  margin-bottom: 0;
  background-image: url(/img/hero.jpg);
  background-position: -290px 0px;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  height: 813px;
  width: 100%;
  left: auto;
}

.content{
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: row;
  position: relative;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
}

.title{
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: 800;
  color: white;
  font-size: 48px;
}

.title__text-yellow{
  color: #ccdd00;
}

.calc_section{
  width: 640px;
  height: 486px;
  background: white;
  border-radius: 6px
}

.block_icon{
  width: 75%;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 70px;
}

.icon{
  display: flex;
  align-items: center;
}

.icon__text{
  font-family: Montserrat;
  font-size: 15px;
  color: white;
  margin-left: 15px;
}

.how_work{
  position: relative;
  z-index: 100;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 120px;
  justify-content: space-between;
}

.how_work__title{
  width: 30%;
}

.how_work__title__text{
  font-family: Montserrat;
  font-weight: 800;
  color: #373737;
  font-size: 37px;
}

.how_work__wrapper_block_icon{
  display: flex;
  flex-direction: column; 
  width: 70%;
}

.how_work__row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.how_work__block_icon{
  display: flex;
  flex-direction: row;
}

.how_work__text{
  margin-left: 20px;
  font-family: Montserrat;
  font-size: 15px;
}

.get_money{
  width: 80%;
  margin: auto;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
}

.get_money__title{
  width: 30%;
}

.get_money__title__text{
  font-family: Montserrat;
  font-weight: 800;
  color: #373737;
  font-size: 37px;
}

.get_money__wrapper_block_card{
  width: 70%;
  margin: auto;
}

.card{
  width: 53%;
  padding: 50px 45px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #bfbdbd;
  margin: auto;
  height: 208px;
  justify-content: space-between;
}

.card__title{
  width: 100%;
  font-family: Montserrat;
  font-weight: 600px;
  font-size: 16px;
}

.card__bank{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card__number{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 34px;
}

.card__period{
  font-size: 13px;
  width: 100%;
  font-family: Montserrat;
}

.about{
  width: 80%;
  margin: auto;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.about__title{
  width: 30%;
}

.about__title__text{
  font-family: Montserrat;
  font-weight: 800;
  color: #373737;
  font-size: 37px;
}

.about__text{
  width: 70%;
  margin: auto;
}

.about__text__text{
  font-family: Montserrat;
  font-size: 16px;
}

.button{
  font-family: Montserrat;
  font-size: 17px;
  line-height: 20px;
  padding: 19px 45px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  box-sizing: border-box;
  color: #373737;
  text-align: center;
  cursor: pointer;
  /* -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; */
  position: relative;
  outline: 0;
  background-color: #ccdd00;
  margin-left: 20px;
  border: none;
  width: max-content;
}


.button:hover{
  cursor: pointer;
  background-color: #b6c31c;
}

/* @media only screen and (min-width: 768px) and (max-width: 1024px) { */
  @media only screen and (min-width: 720px) and (max-width: 1024px) {
  .content{
    flex-direction: column;
  }

  .title{
    margin-top: 55%;
  }

  .how_work{
    margin-top: 0;
    align-items: center;
    flex-direction: column;
  }

  .how_work__title{
    text-align: center;
  }

  .how_work__wrapper_block_icon{
    width: 100%;
  }

  .get_money{
    align-items: center;
    flex-direction: column;
  }

  .get_money__title {
    width: 100%;
    text-align: center;
  }

  .get_money__wrapper_block_card{
    width: 70%;
    margin: auto;
    margin-left: 45px;
    margin-top: 70px;
  }

  .card{
    width: 100%;
  }

  .about {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .about__text {
    margin-top: 35px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 720px) {
  .content{
    flex-direction: column;
    width: 100%;
  }

  .calc_section{
    width: 100%;
  }

  .calc{
    padding: 0;
    flex-direction: column;
  }

  .title{
    margin-top: 55%;
  }

  .how_work{
    margin-top: 0;
    align-items: center;
    flex-direction: column;
  }

  .how_work__title{
    text-align: center;
  }

  .how_work__wrapper_block_icon{
    width: 100%;
  }

  .get_money{
    align-items: center;
    flex-direction: column;
  }

  .get_money__title {
    width: 100%;
    text-align: center;
  }

  .get_money__wrapper_block_card{
    width: 70%;
    margin: auto;
    margin-left: 45px;
    margin-top: 70px;
  }

  .card{
    width: 100%;
  }

  .about {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .about__text {
    margin-top: 35px;
  }

  .title{
    text-align: center;
  }

  .background{
    /* background-color: #01a3bc; */
    /* background-image: unset; */
    background-position: -435px 0px;
  }

  .block_icon{
    display: none;
  }

  .how_work{
    margin-top: 430px;
  }

  .how_work__title{
    width: 100%;
  }
  
  .how_work__row{
    flex-direction: column;
    margin-top: 0px;
  }

  .how_work__block_icon{
    margin: auto;
    margin-top: 50px;
  }

  .get_money{
    display: none;
  }

  .about__title{
    width: 100%;
    text-align: center;
  }




}

